{% comment %}
  Widget avis vérifié pour afficher la note du produit

  param: skus: a comma separated string with the variant skus to display
{% endcomment %}

    <div class="skeepers_product__stars" data-product-id="{{ skus }}"></div>
