<h2 class="account-header">{{ 'customers.account.wishlist.header' | t }}</h2>
<div class="productgrid--wrapper" grid-wishlist id="wishlist-grid">
  <ul class="productgrid--items products-per-row-4" data-html="productgrid-items" data-productgrid-items></ul>
</div>
